
.DS_Store

.fake
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.assets.cache
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.GeneratedMSBuildEditorConfig.editorconfig
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.GeneratedMSBuildEditorConfig.editorconfig
