
.DS_Store

.fake
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.assets.cache
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.GeneratedMSBuildEditorConfig.editorconfig
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.GeneratedMSBuildEditorConfig.editorconfig
.vs/ProjectSettings.json
.gitignore
.vs/slnx.sqlite
saude-distante login/saude-distante login/obj/Release/net6.0/saude-distante login.GlobalUsings.g.cs
.gitignore
saude-distante login/saude-distante login/obj/Release/net6.0/saude-distante login.csproj.AssemblyReference.cache
saude-distante login/saude-distante login/obj/Release/net6.0/saude-distante login.assets.cache
saude-distante login/saude-distante login/obj/Release/net6.0/saude-distante login.AssemblyInfo.cs
saude-distante login/saude-distante login/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.vs/Healthcare_proj/v17/.wsuo
saude-distante login/saude-distante login/obj/Release/net6.0/saude-distante login.GeneratedMSBuildEditorConfig.editorconfig
.gitignore
.vs/Healthcare_proj/FileContentIndex/f56830d6-3bfc-4d44-8f0f-dc3b14c911f4.vsidx
.vs/Healthcare_proj/FileContentIndex/5b0cd273-1381-4756-a4d1-36cf1a652e66.vsidx
.vs/VSWorkspaceState.json
saude-distante login/saude-distante login/obj/Debug/net6.0/saude-distante login.assets.cache
.gitignore
saude-distante login/saude-distante login/.vs
